<div class="container">
  <div class="mt-4">
    <div class="text-center">
      <h4 class="col-md-4 bg-light">動物新規登録</h4>
    </div>
  </div>
  <div class="table-responsive">
    <%= form_with model: @animal, url: admin_animals_path do |f| %>
      <table class="col-10 mt-5 mx-auto">
        <tr>
          <th><%= f.label :"動物画像" %></th>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <th><%= f.label :"動物名" %></th>
          <td><%= f.text_field :name, placeholder: "動物名", class: "form-control" %></td>
        </tr>
        <tr>
          <th><%= f.label :"種類" %></th>
          <td><%= f.collection_select :type_id, Type.all, :id, :name, include_blank: "選択してください" %></td>
        </tr>
      </table>
      <div class="text-center">
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>