<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <% if admin_signed_in? %>
        <h1><span class="maintitle">ZooNavi</span></h1>
      <% else %>
        <%= link_to root_path, class: "navbar-brand" do %>
          <h1><span class="maintitle">ZooNavi</span></h1>
        <% end %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto d-flex align-items-center">
          <% if admin_signed_in? %>
            <li>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark btn' %>
            </li>
          <% elsif user_signed_in? %>
            <li class="d-flex align-items-center mr-5">
              <div class="mr-5">ようこそ<%= current_user.nickname %>さん！！</div>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark btn' %>
            </li>
          <% else %>
            <li>
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark btn' %>
            </li>
            <li>
              <%= link_to "管理者ログイン", new_admin_session_path, class: 'nav-link text-dark btn' %>
            </li>
            <li>
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark btn' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>